#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

#friends-display-link .fa-chevron-right {
  margin-left: 10px;
}
