.screen-header {
  padding: var(--horizontal-space);
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
